body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: tan;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  font-size: larger;
  text-align: center;
}
.realForm {
  text-align: center;
  margin: 20px;
}

.image {
  margin: auto;
  height: 100%;
  width: 100%;
}

.links {
  display: flex;
  text-align: center;
  margin: 30px;
  margin-left: 41%;
}

.search {
  margin-left: 20px;
}